---
import "./TOC.less";
---

<nav class="vh-toc" id="vh-toc">
	<h3 class="vh-toc-title">目录</h3>
	<ul class="vh-toc-list" id="vh-toc-list">
		<!-- JS 动态生成 -->
	</ul>
</nav>


<script>
	import { initTOC } from "@/scripts/TOC";
	initTOC();
</script>
