section.vh-back-top {
	position: fixed;
	right: var(--vh-back-top);
	bottom: 2rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	border: 1px solid var(--vh-border-color);
	background-color: var(--vh-white-color);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
	transform: translateX(1rem);
	cursor: pointer;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	transition: transform 0.2s ease, opacity 0.2s ease, box-shadow 0.2s ease;
	z-index: 9;

	&:hover {
		box-shadow: var(--vh-box-shadow-hover);
	}

	&.active {
		transform: translateX(0);
		opacity: 1;
		pointer-events: auto;
	}

	&>svg {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: calc(100% + 1px);
		height: calc(100% + 1px);

		&.icon {
			width: 60%;
			height: 60%;
		}
	}
}
