.vh-page {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;

	&>.vh-page-header {
		box-sizing: border-box;
		padding: 0 0 1.25rem;
		border-bottom: 1px solid var(--vh-border-color);

		h1,
		p {
			padding: 0;
		}
	}
}
