.vh-footer {
	margin-top: 2rem;
	box-sizing: border-box;
	padding: 2rem 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: max-content;
	background-color: var(--vh-body-bg);
	border-top: 1px solid var(--vh-border-color);
	user-select: none;

	&>main {
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.75rem;
		width: 100%;
		max-width: var(--vh-main-max-width);
		height: max-content;
		padding: 0 1rem;

		&>p {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			gap: 0.5rem;
			font-size: 0.82rem;
			color: var(--vh-font-56);
			line-height: 1.5;

			&>a {
				color: var(--vh-font-66);
				line-height: 1;
				font-weight: 500;
				transition: color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

				&:hover {
					color: var(--vh-main-color);
				}
			}

			&>span {
				box-sizing: border-box;
				padding-left: 0.25rem;
				display: flex;
				align-items: center;
				width: max-content;
				height: 1.2rem;
				background-color: var(--vh-success);
				font-size: 0.68rem;
				border-radius: var(--vh-radius-sm);
				overflow: hidden;

				&>cite,
				&>em {
					box-sizing: border-box;
					padding: 0 0.5rem;
					width: max-content;
					height: 100%;
					line-height: 1.2rem;
					color: var(--vh-white-color);
					font-style: normal;
				}

				&>em {
					background-color: var(--vh-font-56);
				}

				&>svg {
					width: 0.75rem;
					height: 0.75rem;
				}
			}

			img {
				height: 100%;
				width: auto;
				object-fit: contain;
			}
		}
	}
}
